/* Paged.js print styles */

@page {
    margin: 20mm;
    size: var(--pagedjs-width) var(--pagedjs-height);
}

@page :left {
    margin-left: 25mm;
    margin-right: 15mm;
    @bottom-left {
        content: counter(page);
    }
}

@page :right {
    margin-left: 15mm;
    margin-right: 25mm;
    @bottom-right {
        content: counter(page);
    }
}

body {
    font-family: var(--pagedjs-font-family, serif);
    font-size: var(--pagedjs-font-size, 11pt);
    line-height: var(--pagedjs-line-height, 1.5);
    text-align: justify;
}

h1 {
    break-before: page;
    string-set: chapter-title content();
}

p {
    margin-bottom: 0;
    text-indent: 1.5em;
}

p.no-indent {
    text-indent: 0;
}

/* Fix for Paged.js interface */
.pagedjs_pages {
    width: auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagedjs_page {
    margin-bottom: 2rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}
